api/.env
api/.DS_Store
api/src/.DS_Store
api/src/config/.DS_Store
.env
web/package-lock.json
web/package.json
web/package.json
web/package-lock.json
web/cypress/screenshots/e2e/map.cy.js/mapa -- deve poder escolher um orfanato no mapa (failed).png
web/allure-results
web/package-lock.json
web/package.json
